<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.model.meta">
      <meta path="meta/esb.meta"/>
      <meta path="meta/esb-actions.meta"/>
      <meta path="meta/esb12.meta"/>
   </extension>

   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-esb.properties"/>
      <keys path="help/keys-esb-attrs.properties"/>
      <keys path="help/keys-esb-menu.properties"/>
      <keys path="help/keys-esb-lists.properties"/>
   </extension>


	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.esb.core.model.ESBFileImpl"
			class="org.jboss.tools.esb.core.model.ESBFileImpl"/>
		<xclass id="org.jboss.tools.esb.core.model.ESBFileLoader"
			class="org.jboss.tools.esb.core.model.ESBFileLoader"/>
		<xclass id="org.jboss.tools.esb.core.model.ESBEntityRecognizer"
			class="org.jboss.tools.esb.core.model.ESBEntityRecognizer"/>
		<xclass id="org.jboss.tools.esb.core.model.ESBPropertyImpl"
			class="org.jboss.tools.esb.core.model.ESBPropertyImpl"/>
		<xclass id="org.jboss.tools.esb.core.model.ESBAnyElementPresentation"
			class="org.jboss.tools.esb.core.model.ESBAnyElementPresentation"/>
		<xclass id="org.jboss.tools.esb.core.model.ESBCustomizedObjectImpl"
			class="org.jboss.tools.esb.core.model.ESBCustomizedObjectImpl"/>
		<xclass id="org.jboss.tools.esb.core.model.ESBRouteToImpl"
			class="org.jboss.tools.esb.core.model.ESBRouteToImpl"/>
		<xclass id="org.jboss.tools.esb.core.model.handlers.AddProviderSupport"
			class="org.jboss.tools.esb.core.model.handlers.AddProviderSupport"/>
		<xclass id="org.jboss.tools.esb.core.model.handlers.AddGenericActionSupport"
			class="org.jboss.tools.esb.core.model.handlers.AddGenericActionSupport"/>
		<xclass id="org.jboss.tools.esb.core.model.handlers.OpenESBResourceHandler"
			class="org.jboss.tools.esb.core.model.handlers.OpenESBResourceHandler"/>
			
		<xclass id="org.jboss.tools.esb.core.model.ESBResourceTree"
			class="org.jboss.tools.esb.core.model.ESBResourceTree"/>
	</extension>

 <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution id="default">

         <uri 
            name="http://anonsvn.labs.jboss.com/labs/jbossesb/trunk/product/etc/schemas/xml/jbossesb-1.0.xsd" 
            uri="platform:/plugin/org.jboss.tools.esb.core/schemas/jbossesb-1.0.xsd"/>

         <uri 
            name="http://anonsvn.labs.jboss.com/labs/jbossesb/trunk/product/etc/schemas/xml/jbossesb-1.0.1.xsd" 
            uri="platform:/plugin/org.jboss.tools.esb.core/schemas/jbossesb-1.0.1.xsd"/>

         <uri 
            name="http://anonsvn.labs.jboss.com/labs/jbossesb/trunk/product/etc/schemas/xml/jbossesb-1.1.0.xsd" 
            uri="platform:/plugin/org.jboss.tools.esb.core/schemas/jbossesb-1.1.0.xsd"/>

         <uri 
            name="http://anonsvn.labs.jboss.com/labs/jbossesb/trunk/product/etc/schemas/xml/jbossesb-1.2.0.xsd" 
            uri="platform:/plugin/org.jboss.tools.esb.core/schemas/jbossesb-1.2.0.xsd"/>
      </catalogContribution>
   </extension>

</plugin>
