<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            name="ESB"
            id="org.jboss.tools.esb.ui">
      </category>
      <wizard 
         category="org.jboss.tools.esb.ui" 
         class="org.jboss.tools.esb.ui.wizard.newfile.NewESBFileWizard" 
         icon="images/esb16.gif"
         id="org.jboss.tools.esb.ui.wizard.newfile.NewESBFileWizard" 
         name="ESB File" 
         project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            Create a ESB XML File
         </description>
      </wizard>
   </extension>

   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor 
            class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileESB101,FileESB110,FileESB120" 
            icon="images/xstudio/editors/esb.gif" 
            name="ESB">
      </xmlEditor>
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.esb.ui.editor.form.ESBXMLFormLayoutData"
			class="org.jboss.tools.esb.ui.editor.form.ESBXMLFormLayoutData"/>
		<xclass id="org.jboss.tools.esb.ui.editor.attribute.ActionClassValueFilter"
			class="org.jboss.tools.esb.ui.editor.attribute.ActionClassValueFilter"/>
		<xclass id="org.jboss.tools.esb.ui.editor.form.ESBActionForm"
			class="org.jboss.tools.esb.ui.editor.form.ESBActionForm"/>
		<xclass id="org.jboss.tools.esb.ui.wizard.AddGenericActionStep"
			class="org.jboss.tools.esb.ui.wizard.AddGenericActionStep"/>
			
	</extension>

   <extension point="org.jboss.tools.common.model.ui.attributeAdapter">
      <attributeAdapter class="org.jboss.tools.esb.ui.editor.attribute.adapter.BusListAdapter" id="ESBBusList"/>
   </extension>

   <extension point="org.jboss.tools.common.model.ui.attributeEditor">
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="ESBBusList"/>
   </extension>


	<extension 
		point="org.jboss.tools.common.text.ext.hyperlinkPartitioner"
		id="org.jboss.tools.esb.ui.hyperlinkPartitioner"
		name="org.jboss.tools.esb.ui.hyperlinkPartitioner">
		
		<hyperlinkPartitioner 
         	id="org.jboss.tools.common.text.ext.jsf.hyperlink.XMLClassHyperlinkPartitioner"
         	class="org.jboss.tools.common.text.ext.hyperlink.xml.XMLClassHyperlinkPartitioner">
         	
         	<contentType id="org.eclipse.wst.xml.core.xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="/jbossesb/services/service/actions/action/class" />
         			<axis path="/jbossesb/services/service/listeners/scheduled-listener/event-processor" />
         			<axis path="/jbossesb/providers/jms-jca-provider/endpointClass" />
         			<axis path="/jbossesb/providers/jms-jca-provider/jcaBridge" />
         			<axis path="/jbossesb/providers/jms-jca-provider/messagingType" />
         			<axis path="/jbossesb/providers/hibernate-provider/hibernate-bus/hibernate-message-filter/classname" />
           		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="/jbossesb/services/service/actions/action/class" />
         			<axis path="/jbossesb/services/service/listeners/scheduled-listener/event-processor" />
         			<axis path="/jbossesb/providers/jms-jca-provider/endpointClass" />
         			<axis path="/jbossesb/providers/jms-jca-provider/jcaBridge" />
         			<axis path="/jbossesb/providers/jms-jca-provider/messagingType" />
         			<axis path="/jbossesb/providers/hibernate-provider/hibernate-bus/hibernate-message-filter/classname" />
           		</partitionType>
         	</contentType>

         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="/jbossesb/services/service/actions/action/class" />
         			<axis path="/jbossesb/services/service/listeners/scheduled-listener/event-processor" />
         			<axis path="/jbossesb/providers/jms-jca-provider/endpointClass" />
         			<axis path="/jbossesb/providers/jms-jca-provider/jcaBridge" />
         			<axis path="/jbossesb/providers/jms-jca-provider/messagingType" />
         			<axis path="/jbossesb/providers/hibernate-provider/hibernate-bus/hibernate-message-filter/classname" />
           		</partitionType>
         	</contentType>

		</hyperlinkPartitioner>


		<hyperlinkPartitioner 
			id="org.jboss.tools.esb.ui.hyperlink.ESBXMLLinkHyperlinkPartitioner"
         	class="org.jboss.tools.esb.ui.hyperlink.ESBXMLLinkHyperlinkPartitioner">
         	<contentType id="org.eclipse.wst.xml.core.xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/service/actions/inXsd" />
         			<axis path="*/service/actions/outXsd" />
         			<axis path="*/service/actions/faultXsd" />
           		</partitionType>
         	</contentType>
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/service/actions/inXsd" />
         			<axis path="*/service/actions/outXsd" />
         			<axis path="*/service/actions/faultXsd" />
           		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/service/actions/inXsd" />
         			<axis path="*/service/actions/outXsd" />
         			<axis path="*/service/actions/faultXsd" />
           		</partitionType>
         	</contentType>

		</hyperlinkPartitioner>

		<hyperlinkPartitioner 
			id="org.jboss.tools.esb.ui.hyperlink.ESBPropertyLinkHyperlinkPartitioner"
         	class="org.jboss.tools.esb.ui.hyperlink.ESBPropertyLinkHyperlinkPartitioner">
         	<contentType id="org.eclipse.wst.xml.core.xmlsource">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/service/actions/action/property/value" />
           		</partitionType>
         	</contentType>
         	<contentType id="org.jboss.tools.common.model.ui.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/service/actions/action/property/value" />
           		</partitionType>
         	</contentType>
         	<contentType id="org.eclipse.core.runtime.xml">
         		<partitionType id="org.jboss.tools.common.text.ext.xml.XML_ATTRIBUTE_VALUE">
         			<axis path="*/service/actions/action/property/value" />
           		</partitionType>
         	</contentType>

		</hyperlinkPartitioner>

   </extension>

	<extension 
		point="org.jboss.tools.common.text.ext.hyperlink"
		id="org.jboss.tools.esb.ui.hyperlink"
		name="org.jboss.tools.esb.ui.hyperlink">

		<hyperlink 
			class="org.jboss.tools.esb.ui.hyperlink.ESBLinkHyperlink" 
    		id="org.jboss.tools.esb.ui.hyperlink.ESBLinkHyperlink">
			<contenttypeidentifier id="org.eclipse.wst.xml.core.xmlsource">
				<partitiontype id="org.jboss.tools.common.text.ext.xml.ESB_XML_LINK" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.eclipse.core.runtime.xml">
				<partitiontype id="org.jboss.tools.common.text.ext.xml.ESB_XML_LINK" />
			</contenttypeidentifier>
			<contenttypeidentifier id="org.jboss.tools.common.model.ui.xml">
				<partitiontype id="org.jboss.tools.common.text.ext.xml.ESB_XML_LINK" />
			</contenttypeidentifier>
		</hyperlink>


   </extension>

   <extension point="org.jboss.tools.common.model.ui.metaTemplates">
      <include file="templates/esb_1_1.xml" translations="templates/esb_1_1.properties">
      </include>         
      <include file="templates/esb_1_2.xml" translations="templates/esb_1_1.properties">
      </include>         
      <include file="templates/esb_1_1a.xml" translations="templates/esb_1_1.properties">
      </include>         
      <include file="templates/esb_1_2a.xml" translations="templates/esb_1_1.properties">
      </include>         
   </extension>


</plugin>
