<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Legacy ESB examples for Integration Stack"
         point="org.jboss.tools.project.examples.projectExamplesXml">
      <experimental>
         false
      </experimental>
      <url>
         http://github.com/jbosstools/jbosstools-esb/raw/jbosstools-4.1.x/quickstarts/jbtis-esb-project-examples-community-4.1.xml
      </url>
   </extension>

</plugin>
