<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="jst.jboss.esb">
         <label>
            JBoss ESB
         </label>
      </project-facet>
      <project-facet-version
            facet="jst.jboss.esb"
            version="4.2">
         <group-member
               id="modules">
         </group-member>
         <constraint>
            <and>
               <conflicts
                     group="modules">
               </conflicts>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
            </and>
         </constraint>
      </project-facet-version>
      <project-facet-version
            facet="jst.jboss.esb"
            version="4.3">
            <group-member
               id="modules">
         </group-member>
         <constraint>
            <and>
               <conflicts
                     group="modules">
               </conflicts>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
            </and>
         </constraint>
      </project-facet-version>
      <project-facet-version
            facet="jst.jboss.esb"
            version="4.4">
            <group-member
               id="modules">
         </group-member>
         <constraint>
            <and>
               <conflicts
                     group="modules">
               </conflicts>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
            </and>
         </constraint>
      </project-facet-version>
      <project-facet-version
            facet="jst.jboss.esb"
            version="4.5">
         <group-member
               id="modules">
         </group-member>
         <constraint>
            <and>
               <conflicts
                     group="modules">
               </conflicts>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
            </and>
         </constraint>
      </project-facet-version>
      <action
            facet="jst.jboss.esb"
            id="jst.jboss.esb.install"
            type="install">
         <delegate
               class="org.jboss.tools.esb.core.facet.JBossESBFacetInstallationDelegate">
         </delegate>
         <config-factory
               class="org.jboss.tools.esb.core.facet.JBossESBFacetDataModelProvider">
         </config-factory>
      </action>
      <template
            id="template.jst.jboss.esb">
         <label>
            label body text
         </label>
         <fixed
               facet="jst.java">
         </fixed>
         <fixed
               facet="jst.jboss.esb">
         </fixed>
      </template>
   </extension>
      <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="jst.jboss.esb"
               version="4.2,4.3,4.4,4.5">
         </facet>
         <runtime-component
               id="org.jboss.ide.eclipse.as.runtime.component"
               version="4.2">
         </runtime-component>
      </supported>
      <supported>
         <facet
               id="jst.jboss.esb"
               version="4.2,4.3,4.4,4.5">
         </facet>
         <runtime-component
               id="org.jboss.ide.eclipse.eap.runtime.component"
               version="4.3">
         </runtime-component>
      </supported>
   </extension>
    <extension
         id="ESBNature"
         name="JBoss ESB Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jboss.tools.esb.project.nature.JBossESBProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.wst.common.project.facet.core.nature">
      </requires-nature>
   </extension>
    <extension
          point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer
             class="org.jboss.tools.esb.core.runtime.JBossRuntimeClassPathInitializer"
             id="org.jboss.esb.runtime.classpath">
       </classpathContainerInitializer>
    </extension>
    <extension
          point="org.eclipse.wst.server.core.moduleTypes">
       <moduleType
             id="jst.jboss.esb"
             name="JBoss ESB Module">
       </moduleType>
    </extension>
    <extension
          point="org.eclipse.wst.server.core.moduleFactories">
       <moduleFactory
             class="org.jboss.tools.esb.core.module.JBossESBModuleFactory"
             id="org.jboss.tools.esb.project.core.moduleFactory"
             projects="true">
          <moduleType
                types="jst.jboss.esb"
                versions="4.2,4.3,4.4,4.5">
          </moduleType>
       </moduleFactory>
    </extension>
    <extension
          point="org.eclipse.wst.server.core.moduleArtifactAdapters">
       <moduleArtifactAdapter
             class="org.jboss.tools.esb.core.module.JBossESBModuleArtifactAdapter"
             id="org.jboss.tools.esb.project.core.moduleArtifactAdapter1">
          <enablement>
             <with
                   variable="selection">
                <adapt
                      type="org.eclipse.core.resources.IProject">
                   <test
                         forcePluginActivation="true"
                         property="org.eclipse.wst.common.project.facet.core.projectFacet"
                         value="jst.jboss.esb">
                   </test>
                </adapt>
             </with></enablement>
       </moduleArtifactAdapter>
       <moduleArtifactAdapter
             class="org.jboss.tools.esb.core.module.JBossESBModuleArtifactAdapter"
             id="org.jboss.tools.esb.project.core.moduleArtifactAdapter2">
          <enablement>
             <with
                   variable="selection">
                <adapt
                      type="org.eclipse.core.resources.IFile">
                   <test
                         forcePluginActivation="true"
                         property="org.eclipse.wst.common.project.facet.core.projectFacet"
                         value="jst.jboss.esb">
                   </test>
                </adapt>
             </with>
          </enablement>
       </moduleArtifactAdapter>
    </extension>
    <extension
          point="org.eclipse.jst.j2ee.classpathdep">
       <filteredClasspathContainer
             containerID="org.jboss.esb.runtime.classpath">
       </filteredClasspathContainer>
    </extension>
    
    
    <extension
         point="org.eclipse.wst.common.modulecore.componentimpl">
      <componentimpl
            typeID="jst.jboss.esb"
            class="org.jboss.tools.esb.core.component.ESBVirtualComponent">
      </componentimpl>
   </extension>
    
</plugin>
