<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.jboss.tools.esb.ui"
            class="org.jboss.tools.esb.project.ui.wizards.ESBProjectWizard"
            icon="$nl$/icons/wizards/esb.gif"
            id="JBoss.ESB.Project.Wizard"
            name="ESB Project"
            project="true">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages
            action="jst.jboss.esb.install">
         <page
               class="org.jboss.tools.esb.project.ui.wizards.pages.ESBFacetInstallationPage">
         </page>
      </wizard-pages>
   </extension>
<extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.jboss.tools.common.model.ui.MainPreferencePage"
               class="org.jboss.tools.esb.project.ui.preference.controls.JBossESBRuntimePreferencePage"
               id="org.jboss.tools.esb.project.runtime.preference"
               name="%Preference_Page_Runtimes">
         </page>
      </extension>
   <extension
          point="org.eclipse.wst.server.ui.serverImages">
       <image
             icon="icons/obj16/esb_module.gif"
             id="org.jboss.tools.esb.project.ui.image"
             typeIds="jst.jboss.esb">
       </image>
    </extension>
    <!--extension
          point="org.eclipse.ui.ide.projectNatureImages">
       <image
             icon="icons/obj16/esb_module_ovr.gif"
             id="org.jboss.tools.esb.project.core.image"
             natureId="org.jboss.tools.esb.project.core.ESBNature">
       </image>
    </extension-->
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             class="org.jboss.tools.esb.project.ui.ESBProjectDecorator"
             id="org.jboss.tools.esb.project.ui.decorator"
             label="JBoss ESB Project Decorator"
             lightweight="true"
             location="TOP_LEFT"
             state="true">
          <enablement>
             <or>
                <objectClass
                      name="org.eclipse.core.resources.IProject">
                </objectClass>
                <objectClass
                      name="org.eclipse.jdt.core.IJavaProject">
                </objectClass>
             </or>
          </enablement>
       </decorator>
    </extension>
    <extension
          point="org.eclipse.jdt.ui.classpathContainerPage">
       <classpathContainerPage
             class="org.jboss.tools.esb.project.ui.wizards.pages.JBossESBRuntimeContainerPage"
             id="org.jboss.esb.runtime.classpath"
             name="JBoss ESB Libraries">
       </classpathContainerPage>
    </extension>
    
    
     <extension
         point="org.eclipse.ui.exportWizards">
     <category
            name="ESB"
            id="org.jboss.tools.esb.category">
      </category>         
    <wizard
            name="ESB File"
            icon="icons/obj16/esb_module.gif"
            class="org.jboss.tools.esb.project.ui.wizards.export.ESBComponentExportWizard"
            category="org.jboss.tools.esb.category"
            id="org.jboss.tools.esb.project.ui.wizards.temp.ESBExportWizard">
         <description>
            ESB File
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>
</plugin>
